.navbar{
  font-family: $font-stack;
  background-color: $primary-color;
  color: $white;
  padding: 0.625rem 1.25rem;

  .container{
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-header{
    img{
      width: 9rem;
    }
  }

  #navbar{
    * {
      border-radius: 0;
      color: $white;
    }
    .nav-pills{
      .nav-link{
        padding: 0.75rem 0.25rem;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        -webkit-transition: all ease-in-out .25s;
        -moz-transition: all ease-in-out .25s;
        transition: all ease-in-out .25s;

      }

      .nav-link:hover{
        border-color: $white;
      }
    }
  }

}


@media (min-width: 34em) {
  .navbar{
    .navbar-header{
      img{
        width: 9.375rem;
      }
    }

    #navbar{
      .nav-pills{
        .nav-link{
          padding: 0.75rem 1rem;
        }
      }
    }
  }
}