.about{
  padding-top: 4.375rem;

  *{
    font-family: $font-stack;
  }

  .container{
    h1{
      color: $primary-color;
      font-weight: 600;
      margin: 1.25rem 0 0;
    }
    h2{
      font-size: 1.5rem;
      font-weight: 600;
      margin: 2rem 0 0;
    }

    h3{
      font-size: 1.1rem;
      font-weight: 600;
      margin: 2.5rem 0 .5rem;
    }

    h4{
      font-size: 1rem;
      margin: 1rem 0;
    }

    h5{
      font-size: 1rem;
    }

    h6{
      font-size: 1rem;
      margin-top: .25rem;
    }

    ul{
      list-style: square;
      padding: 0 0 0 1.25rem;

      li{
        line-height: 1.25;
      }
    }
  }
}


@media (min-width: 34em) {
  .about{
    .container{
      padding-left: 0;
      padding-right: 0;
    }
  }
}